@charset "UTF-8";
:root {}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: hsla(260, 29%, 36%, 1);
  background: linear-gradient(250deg, hsla(260, 29%, 36%, 1) 26%, hsla(284, 78%, 73%, 1) 91%);
  background: -moz-linear-gradient(250deg, hsla(260, 29%, 36%, 1) 26%, hsla(284, 78%, 73%, 1) 91%);
  background: -webkit-linear-gradient(250deg, hsla(260, 29%, 36%, 1) 26%, hsla(284, 78%, 73%, 1) 91%);
  height: 100%;
}

div {
  display: flex;
  justify-content: center;
  width: 100%;
}

p {
  font-size: 150%;
}

.copy-container {
  width: 50%;
}

.copy-container-container {
  display: flex;
  justify-content: center;
}

div img {
  width: 30%;
}

.whatsapp-icon {
  position: fixed;
  left: 2%;
  bottom: 5%;
}